.about_page {
    background: var(--mainBackground);

    & .about_section_1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;

        & .banner_left_side {
            & .banner_top_img {
                & img {
                    width: clamp(300px, 35vw, 679px);
                    height: clamp(200px, 30vw, 475px);
                    object-fit: fill;
                }
            }

            & .banner_bottom_images {
                display: flex;
                justify-content: space-between;
                max-width: clamp(300px, 35vw, 679px);

                & img {
                    width: clamp(70px, 8vw, 200px);
                    height: clamp(40px, 6vw, 190px);
                }
            }
        }

        & .banner_right_side {
            width: clamp(400px, 65vw, 680px);
            margin: 10px auto 0 clamp(4px, 2vw, 40px);

            & .title {
                font: clamp(12px, 1.5vw, 20px) Helvetica;
                text-align: justify;
                line-height: clamp(12px, 2vw, 29px);
            }
        }
    }

    & .about_section_2 {

        & .about_mission {
            margin: clamp(10px, 8vw, 150px) auto 0;
            display: flex;
            justify-content: space-between;
            max-width: clamp(300px, 92vw, 1050px);
            gap: 15px;

            & .mission_box {
                position: relative;
                border-radius: 6px;

                & .boxes {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.3);
                    width: clamp(220px, 40vw, 650px);
                    height: clamp(140px, 25vw, 438px);
                    border-radius: 6px;
                }

                & img {
                    width: clamp(220px, 40vw, 650px);
                    height: clamp(140px, 25vw, 438px);
                    border-radius: 6px;

                }

                & .title {
                    font: 400 clamp(8px, 1.5vw, 22px) Helvetica;
                    max-width: clamp(200px, 35vw, 650px);
                    text-align: justify;
                    position: absolute;
                    top: clamp(1px, 5vw, 140px);
                    left: clamp(8px, 2vw, 36px);
                    line-height: clamp(10px, 2vw, 20px);
                    color: #FFFFFF;
                }

                & .vision {
                    font: 700 clamp(8px, 2vw, 24px) Helvetica;
                    max-width: clamp(200px, 28vw, 550px);
                    position: absolute;
                    top: clamp(70px, 13vw, 220px);
                    left: clamp(75px, 16vw, 220px);
                    line-height: clamp(8px, 2vw, 16px);
                    color: #FFFFFF;
                }
            }

            & .mission-box ::before {
                content: " ";
                background-color: rgba(0 0 0 0.5);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 6px;


            }
        }


    }

    & .about_section_3 {
        max-width: clamp(200px, 85vw, 1050px);
        margin: clamp(30px, 10vw, 150px) auto 0;

        & h1 {
            font-size: clamp(20px, 4vw, 40px);
            line-height: clamp(22px, 35vw, 80px);

        }

        & .swiper {
            width: clamp(300px, 90vw, 1115px);
            height:clamp(150px,18vw,300px);

            & .slider_box {
                width: clamp(80px, 18vw, 350px);
                height: clamp(80px, 10vw, 150px);
                background-color: white;

            }

        }


    }

    & .about_section_4 {
        max-width: clamp(300px, 100vw, 1050px);
        margin: clamp(10px, 8vw, 150px) auto 0;

        & .swiper {
            width: clamp(300px, 90vw, 1115px);
            height:clamp(200px,21vw,400px);
            z-index: 1;
            gap: 10px;
           
            & .slider_box {
                width: clamp(120px, 21vw, 350px);
                height: clamp(60px, 19vw, 160px);
                background-color: white;
                border-radius: 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: clamp(20px, 10vw, 60px);
                & .slider_image {
                    display: flex;
                    justify-content: center;
                    z-index: 99;

                    & img {
                        position: absolute;
                        top: clamp(-10px,-40px,-68px);
                        width: clamp(20px, 3vw, 50px);
                        height: clamp(20px, 3vw, 50px);
                    }
                }

                & .slider_title {
                    display: flex;
                    justify-content: center;

                    & p {
                        text-align: justify;
                        max-width: clamp(100px,18vw,220px);
                        font-size: clamp(7px, 1vw, 10px);
                        line-height: clamp(4px, 1.5vw, 15px);
                        padding-top: clamp(4px, 4vw, 30px);


                    }
                }

                & .slider_customer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & h6 {
                        padding-top: clamp(4px, 1vw, 22px);
                        color: #E8382E;
                        font-size: clamp(6px, 1vw, 12px);
                        font-weight: 700;

                    }

                    & p {
                        font-size: clamp(6px, 1vw, 10px);
                        line-height: clamp(10px, 2vw, 20px);

                    }
                }
            }

        }
    }
}

@media (width<500) {
    & .about_section_1 {
        flex-direction: column;
    }

    & .about_mission {
        flex-direction: column;
        align-items: center;

    }
}

