.lab_inner {
    max-width: clamp(300px, 90vw, 1240px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: clamp(5px, 3vw, 60px) auto 0;

    & .video_container {
        width: 100%;
        height: 100%;
        position: relative;

        & iframe {
            width: 100%;
            height: clamp(200px, 35vw, 600px);
        }




    }

    & .lab_inner_content {
        margin: clamp(10px, 4vw, 60px) auto clamp(10px, 5vw, 60px);

        & p {
            font-family: Helvetica;
            font-weight: 400;
            line-height: clamp(15px, 4vw, 38px);
            font-size: clamp(12px, 2vw, 24px);
        }
    }
}