.form{
  min-height: 100vh;
  padding: clamp(80px, 12vw, 190px) 15px;
  & form{
    background: #fff;
    padding: clamp(40px, 7vw, 100px) clamp(50px, 7vw, 138px);
    border-radius: 10px;
    max-width: 790px;
    margin: 0 auto;
    transition: .5s all .4s ease-in-out;
    &:focus-within {
      box-shadow: 0 0 10px #625f68a7;

    }
  }
  & h2{
    font: 700 clamp(24px, 4vw, 40px) Helvetica;
    text-align: center;
  }
  
}

.subtitle{
    text-align: center;
    font-size: clamp(16px, 3vw, 28px);
    margin: clamp(16px, 2vw, 22px) 0 clamp(40px, 4vw, 60px) 0;
}

.inputs{
  margin: 0 0 clamp(40px, 4vw, 60px) 0;
}
.input__wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 0 clamp(22px, 3vw, 40px) 0;
  width: 100%;
  &:last-of-type{
    margin: 0;
  }

  & label{
    margin: 0 0 clamp(8px, 3vw, 16px) 0;
    font: 400 clamp(14px, 3vw, 16px) Helvetica;
    color: #000;
  }

  & input{
    padding: clamp( 14px, 3vw, 20px) clamp(20px, 3vw, 33px);
    font-size: 14px;
    border: 1px solid #282828;
    border-radius: 6px;
    outline: 0;
    transition: all .4s ease-in-out;
    display: block;
    width: 100%;
  
    &:focus{
      box-shadow: 0 5px 10px #ccc;
      transform: translateY(-2px);
    }
  }
}

.registration{
  text-align: center;
  margin: clamp(40px, 4vw, 60px) 0 0 0;
  & p{
    color: #625F68;
    font-size: clamp(14px, 3vw, 16px);
  }
  & a {
    font-weight: 700;
    color: #000;
    border-bottom: 1px dotted #000;
    padding: 0 0 3px 0;
    font-size: clamp(14px, 3vw, 16px);
  }
}