.news_page {
  margin: clamp(5px, 3vw, 60px) auto 0;
  background-color: var(--mainBackground);


  & .news_box {
    display: flex;
    justify-content: space-between;

    & .news_wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1025px;

      & .news_header {

        position: relative;

        & .image_7 {
          width: clamp(200px, 42vw, 597px);
          height: clamp(200px, 30vw, 300px);
        }

        & .feat_4 {
          width: clamp(200px, 42vw, 597px);
          height: clamp(150px, 20vw, 230px);


        }

        & .cover {
          width: clamp(200px, 31vw, 471px);
          height: clamp(200px, 20vw, 300px);

        }

        & .feat {
          width: clamp(200px, 31vw, 471px);
          height: clamp(220px, 28vw, 250px);
          margin-top: -20px;
        }

        & .first_text, .sec_text, .third_text, .fourth_text{
          position: absolute;
          width: clamp(200px, 45vw, 500px);
          color: #FFFFFF;
          padding-left: 10px;
          font-size: clamp(12px, 1.5vw, 18px);
        }
       & .first_text{
          margin-top: clamp(8px,3vw,28px);
        }
        & .third_text{
          text-align: center;
        }
      }
    }

    & .news_head {
      position: relative;

      & .image_9 {
        width: clamp(200px, 30vw, 300px);
        height: clamp(220px, 40vw, 533px);
        object-fit: fill;

      }

      & .fifth_text {
        position: absolute;
        width: clamp(200px, 45vw, 500px);
        color: #FFFFFF;
        padding-left: 10px;
        font-size: clamp(12px, 1.5vw, 18px);
      }
    }

  }

  & .news_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: clamp(300px, 80vw, 1000px);
    margin: clamp(5px, 3vw, 60px) auto 0;

    & .news_card {
      width: clamp(250px, 33vw, 500px);
      height: auto;
      margin: clamp(5px, 2vw, 50px) 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      position: relative;

      & .news_img {
        position: relative;
        top: 0;
        object-fit: contain;


        & img {
          width: 100%;
          height: auto;
          border-radius: 10px 10px 0 0;


        }
      }

      & .card_title {
        font-family: Helvetica;
        width: clamp(250px, 33vw, 620px);
        height: clamp(60px, 14vw, 120px);
        padding: 0 clamp(2px, 1vw, 8px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        & h6 {
          font-size: clamp(12px, 2vw, 20px);
          font-weight: 600;
          line-height: clamp(12px, 2vw, 20px);
        }

        & p {
          font-size: clamp(9px, 10px, 11px);
          color: #625F68;
          font-weight: 400;
          line-height: clamp(12px, 15px, 34px);

        }
      }
    }
  }
}

@media (width<800) {
  & .news_box {
    display: block;

    & .news_wrapper {
      display: block;
    }

  }
}