.top__news__wrapper{
  height: 650px;
  overflow: hidden;
}
.blogs__slider{
  height: 100%;  

}
.top__news{
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 0 100px;
}

.blog__img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blog__info{
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  color: #fff;
  padding: 0 100px 0 0;
  & > div{
    backdrop-filter: blur(10px);
    padding:  15px;
    border-radius: 18px;
    background: #7b7b7b29;
    align-items: start;
    display: flex;
    flex-direction: column;
  }
  & p{
    font: 400 clamp(16px, 3vw, 20px) Helvetica;
  }
  & a{
    padding: 16px 90px;
    background: var(--primaryColor);
    font: 700 clamp(18px, 2vw, 20px) Helvetica;
    color: #fff;
    display: block;
    margin: 50px 0 0 0;
  }
}
.blog__data{
  font: 18px Helvetica;
  color: #fff;
}
.blog__title{
  font: 700 clamp(26px, 4vw, 36px) Helvetica;
  margin: 23px 0 35px 0;
}

.all__news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: clamp(100px, 5vw, 208px) clamp(40px, 4vw, 90px);
  gap: clamp(30px, 2vw, 46px);

  & img {
    width: 100%;
    transition: all .9s ease-in-out;
    height: initial;
    height: 300px;
  }

  & .news {
    border-radius: 24px;
    overflow: hidden;
    background: #fff;
    position: relative;
    padding: 0 0 19px 0;
    display: flex;
    flex-direction: column;
    & .blogs__desc{
      margin-top: auto;
    }
  }

  & h4 {
    color: #2A282F;
    font: 700 clamp(18px, 2vw, 22px) Helvetica;
    padding: 19px 16px 19px;

  }

  & p {
    font: 14px Helvetica;
    color: #625F68;
    padding: 0 19px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & a {
    position: absolute;
    inset: 0;
  }

}

.blogs__desc{
  
  & * {
    display: none !important;
  }
  
  & p:first-child{
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;   
  }
}

@media (width < 1200px){
  .top__news{
    padding: 120px 25px;
  }
  .blog__info{
    padding: 0;
  }
  .top__news, .blogs__slider, .top__news__wrapper{
    height: initial;
  }
  
}

@media (width < 1200px){
  .all__news{
    grid-template-columns: 1fr;
  }
}
