.projects {
  & .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h2 {
      font: 400 clamp(25px, 5vw, 50px) Helvetica;
      color: #000;
    }

    & a {
      font: clamp(18px, 3vw, 24px) Helvetica;
      border-bottom: 2px solid #000;
    }
  }

  .projects__wrapper {
    display: flex;
    justify-content: space-between;
    padding: clamp(40px, 5vw, 85px) 0 clamp(20px, 3vw, 60px) 0;
    flex-wrap: wrap;
    & .projects__item {
      width: calc((100% - 67px) / 2);
      border-radius: 12px;
      overflow: hidden;
      max-height: 400px;
      position: relative;
      transition: all .4s ease-in-out;
      margin-bottom: 35px;

      & .proj__info {
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: clamp(14px, 2vw, 23px) 17px;
        transition: all .4s ease-in-out;
      }

      &:hover {
        box-shadow: 0 0 10px 5px #a0a0a0;

        & .proj__info {
          bottom: 0;
        }
      }

      & h4 {
        font: 700 clamp(18px, 2vw, 24px) Helvetica;
        margin: 0 0 4px 0;
      }

      & p {
        font: clamp(14px, 2vw, 18px) Helvetica;
        color: #818080;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      & a::after {
        content: '';
        position: absolute;
        inset: 0;
        display: block;
      }
    }
  }
}

@media (width < 800px) {
  .projects .projects__wrapper{
    flex-direction: column;

    & .projects__item{
      width: 80%;
      margin: 0 auto 20px auto;
      & .proj__info{
        gap: 30px;
        bottom: 0;
        background: #ffffff8b;
        backdrop-filter: blur(5px);
      }
    }
  }

}