.home__page {
  background: var(--mainBackground);

  & section {
    margin-bottom: clamp(50px, 8vw, 116px);

    h2 {
      font: 400 clamp(25px, 5vw, 50px) Helvetica;
      color: #000;
    }

    & .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & a {
        font: clamp(18px, 3vw, 24px) Helvetica;
        border-bottom: 2px solid #000;
      }
    }
  }
}

.intro {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: start;
  background-position:  top;
  background-size: cover;
  color: #fff;
  transition: background-image .5s ease-in-out;

  & .intro__slide {
    width: 100%;
    margin: clamp(120px, 5vw, 200px) auto 0 auto;
    padding: 0 40px 80px 40px;
    display: flex;
    & .intro__wrapper{
      backdrop-filter: blur(5px);
      background: #50505036;
      padding: 15px 20px;
      border-radius: 22px;
    }
  }

  & h1 {
    font-size: clamp(30px, 5vw, 80px);

  }

  & p {
    font-size: clamp(16px, 3vw, 20px);
    line-height: clamp(20px, 3vw, 27px);
    max-width: 860px;
    margin: clamp(15px, 4vw, 35px) 0 clamp(25px, 4vw, 60px) 0;
  }

  & a {
    margin: 0;
    background: #fff;
    border-color: #fff;
  }
}

.updates__items {
  display: flex;
  justify-content: space-between;
  margin: clamp(30px, 6vw, 70px) 0 0 0;

  &>div {
    width: calc((100% - 24px) / 3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  & img {
    width: 100%;
  }

  & a {
    position: absolute;
    inset: 0;
    font: 700 clamp(16px, 4vw, 32px) Helvetica;
    color: #fff;
    background: #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-radius: 50%;
      backdrop-filter: blur(5px);
      transition: all .6s ease-in-out;
      z-index: -1;
    }

    &:hover::after {
      width: 200%;
      height: 300%;
    }
  }

}

.delivery {
  background: #fff;
  padding: clamp(25px, 4vw, 45px) 0;

  & .delivery__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }

  .delivery__input {
    max-width: 600px;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 22px;
      width: 24px;
      height: 24px;
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.5'%3e%3ccircle cx='11.5' cy='12' r='9.5' stroke='black'/%3e%3cpath d='M18.5 19L22 22.5' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3e%3c/g%3e%3c/svg%3e ") center/cover;
      display: block;
      z-index: 9;
    }
  }

  & input {
    padding: clamp(15px, 3vw, 30px) 60px;
    background: var(--mainBackground);
    border-radius: 10px;
    width: 100%;
    border: 0;
    transition: all .4s ease-in-out;
    outline: 0;
    font-size: clamp(14px, 4vw, 20px);

    &:focus {
      box-shadow: 0 0 10px var(--primaryColor);
    }

  }

  & .delivery__result {
    margin: clamp(35px, 3vw, 68px) auto 0 auto;
    max-width: 880px;
  }

  & .delivery__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    font: clamp(18px, 5vw, 28px) Helvetica;
  }

  & h4 span {
    font-weight: 700;
  }

  & .delivery__steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: clamp(25px, 4vw, 50px) 0 0 0;

    & hr {
      border: 0;
      height: 8px;
      background: #A2A2A2;
      flex: 1;
    }

    & svg {
      scale: 1.01;
    }

    & .active {
      & path {
        fill: var(--primaryColor);
      }

      &+hr {
        background: var(--primaryColor);

        &:last-of-type {
          background: #A2A2A2;
        }
      }
    }

  }
}


.categories__wrapper {
  display: flex;
  justify-content: space-between;
  margin: clamp(30px, 4vw, 70px) 0 0 0;
  padding: 0 0 clamp(30px, 4vw, 70px);
  flex-wrap: wrap;
  gap: 40px 0;

  & .categories__item {
    width: calc((100% - clamp(40px, 5vw, 100px)) / 2);
    padding: clamp(60px, 4vw, 110px) clamp(20px, 3vw, 36px) clamp(60px, 4vw, 116px) clamp(20px, 3vw, 36px);
    background: #fff;
    border-radius: 26px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    &::after {
      content: '';
      width: clamp(90px, 10vw, 178px);
      height: clamp(90px, 10vw, 178px);
      background: var(--primaryColor);
      right: 0;
      bottom: 0;
      transform: translate(30%, 30%);
      display: block;
      position: absolute;
      border-radius: 50%;
      transition: all .4s ease-in-out;
    }

    &:hover::after {
      scale: 1.5;
      transform: translate(20%, 20%);

    }

    & h3 {
      font: 700 clamp(24px, 4vw, 44px) Helvetica;
    }

    & p {
      color: #3B3B3B;
      font-size: clamp(18px, 4vw, 26px);
      margin: 14px 0 clamp(20px, 5vw, 75px) 0;
      padding: 0 0 clamp(15px, 4vw, 30px);
      border-bottom: 1px solid #E8E8E8;
      max-width: 316px;
    }

    & a {
      margin: 0;
      display: table;
      white-space: wrap;

    }
  }
}

.pdf {
  display: flex;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  

  & .logo {
    max-width: 170px;
    width: 100%;
    height: initial;
  }

  & .pdf__img {
    max-width: 250px;
    margin: auto;
    background: url(./../../../public/assets/img/ellipse.png) center/cover;
    padding: 20px;
    border-radius: 50%;


  }

  & .left {
    width: 45%;
    padding: 0 33px clamp(55px, 4vw, 85px) 33px;
  }

  & .pdf__item {
    border: 1px solid #EAEAEA;
    box-shadow: 0 40px 30px #0000001F;
    padding: 20px clamp(20px, 3vw, 50px) 11px clamp(20px, 3vw, 50px);
    margin: 0 clamp(20px, 3vw, 50px);

  }

  & a {
    width: 100%;
    margin: clamp(20px, 4vw, 40px) 0 22px 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    &:last-child {
      margin: 0;
    }
  }

  & .right {
    display: flex;
    align-items: center;
    background: var(--primaryColor);
    flex: 1;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: clamp(45px, 4vw, 70px);
      width: 6px;
      height: 66px;
      z-index: 9;
      background: url(./../../../public/assets/img/dots.png) top/cover;
    }

    &::before {
      top: initial;
      bottom: 40px;
      left: initial;
      right: clamp(30px, 3vw, 45px);
    }

    & p {
      max-width: 490px;
      margin: auto;
      padding: 160px 40px;
      font: 700 clamp(20px, 3vw, 30px) Helvetica;
      color: #fff;
      background: url(./../../../public/assets/img/ellipse2.png) center/cover;
      position: relative;
      z-index: 1;
    }
  }
}

.projects__wrapper {
  display: flex;
  justify-content: space-between;
  margin: clamp(40px, 5vw, 85px) 0 0 0;
  padding: 0 0 clamp(20px, 3vw, 60px) 0;

  & .projects__item {
    width: calc((100% - 67px) /2);
    border-radius: 12px;
    overflow: hidden;
    max-height: 400px;
    position: relative;
    transition: all .4s ease-in-out;

    & .proj__info {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: clamp(14px, 2vw, 23px) 17px;
      transition: all .4s ease-in-out;
    }

    &:hover {
      box-shadow: 0 0 10px 5px #a0a0a0;

      & .proj__info {
        bottom: 0;
      }
    }

    & h4 {
      font: 700 clamp(18px, 2vw, 24px) Helvetica;
      margin: 0 0 4px 0;
    }

    & p {
      font: clamp(14px, 2vw, 18px) Helvetica;
      color: #818080;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    & a::after {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
    }
  }
}

.certificate__wrapper {
  display: flex;
  justify-content: space-between;
  margin: clamp(30px, 7vw, 135px) 0 0 0;
  padding: 0 0  clamp(30px, 7vw, 135px) 0;

  & .certificate__item {
    width: calc((100% - 24px) / 3);
    padding: 13px 30px 13px ;
    background: #fff;
    transition: all .4s ease-in-out;
    &:hover{
      box-shadow: 0 0 10px 2px #ccc;
    }
  }

  & .certificate__img {
    max-height: 280px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #e8372e97 #f1f1f1;
    padding: 5px;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #e8372e97;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #e8382e;
    }

  }
  & h4{
    text-align: center;
    font: 700 clamp(18px, 2vw, 20px) Helvetica;
    margin: 23px 0 0 0 ;
  }
}

section.partners{
  margin: 0 ;
  padding: 0 0 clamp(80px, 12vw, 200px) 0;
}

.slider__wrapper{
  background: #fff;
  padding: 44px 0;
  margin: 50px 0 0 0;
  & > div{
    position: relative;
  }
  & img{
    max-width: 150px;
    height: initial;
    margin: auto;
    display: block;
  }
  & .slide{
    align-self: center;
  }

  & button{
    width: clamp(35px, 2vw, 50px);
    height: clamp(35px, 2vw, 50px);
    z-index: 99;
    padding: 10px;
    background: #625F68 ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border-radius: 50%;
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: clamp(15px, 2vw, 30px);
      height: clamp(15px, 2vw, 30px);
      background: url(./../../../public/assets/img/arrow.png) center/contain;
      transform: translate(-50%, -50%);
    }
    &:first-child{
      transform: rotateY(180deg) translateY(-50%);
      right: initial;
      left: 10px;
    }
  }
}
 





@media (width < 800px){
  .pdf{
    flex-direction: column;

    & .left{
      width: 100%;
    }

    & .right{
      & p{
        padding: 200px 40px;
        margin: 20px auto;
      }
    }
  }

  .projects__wrapper{
    flex-direction: column;

    & .projects__item{
      width: 80%;
      margin: 0 auto 20px auto;
      & .proj__info{
        gap: 30px;
        bottom: 0;
        background: #ffffff8b;
        backdrop-filter: blur(5px);
      }
    }
  }

  .certificate__wrapper{
    flex-direction: column;
    gap: 25px;
    & .certificate__item{
      width: 90%;
      margin: 0 auto;
    }
  }

  .partners__slider{
    padding: 0 50px;
  }
}

@media (width < 600px) {
  .intro {
    min-height: 60vh;
  }
  .categories__wrapper{
    flex-direction: column;
    & .categories__item{
      width: 90%;
      margin: 0 auto 20px auto;
      text-align: center;
      & a{
        margin: auto;
      }
    }
  }

  .pdf{

    & .right{
      & p{
        background: none;
        padding: 100px 20px;
      }
    }
  }
}